<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="navbar" class="d-flex justify-content-center"></div>
        <div id="country-modal" class="modal"></div>
        <div id="map"></div>
    </body>
</html>

<!-- Simple maps code for custom map generation -->
<script type="text/javascript">
    // import simple maps code to generate custom map
    <%- include('../public/simple-maps.js') %>

    var visited = <%-JSON.stringify(visited)%>
    for (let m in simplemaps_worldmap_mapdata.state_specific) {
        simplemaps_worldmap_mapdata.state_specific[m].color = visited[m] ? visited_colour : "#ff0000";
        simplemaps_worldmap_mapdata.state_specific[m].hover_color = visited[m] ? visited_colour_hover : "#00ff00";
    };
</script>    

<script type="text/javascript" src="https://simplemaps.com/custom/world/sHhkDGRf/worldmap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    var abr2name = <%-JSON.stringify(abr2name)%>;
    var modal = $('#country-modal');
    var countryAbr;
    $(document).ready(function() {
        $('#navbar').load("header.html", function() {
            $('a[id*=\'homeButton\']').attr('class', 'nav-link');
            $('#listButton').attr('class', 'nav-link');
            $('#mapButton').attr('class', 'nav-link active');
        });
      $('#country-modal').load("CountryModal.html");      
    });    

    function modalResult(countryAbr) {
        // get full country name
        var country = abr2name[countryAbr];
        $('#btn-visited').hide();
        $('#btn-unvisited').hide();
        $('#modal-header-text').html(country);
        // toggle visited / unvisited buttons based on status
        if (!visited[countryAbr]) {
            $('#btn-visited').show();            
        }
        else {
            $('#btn-unvisited').show();
        }
        
        modal.css("display", "block");
    }    

    $(document).on('click','.sm_state', function(event) {
        // get country abreviation from class name
        countryAbr = $(event.currentTarget).attr("class").replaceAll("sm_state", "").replace(" _", "");        
        // popup will toggle between visited and not
        modalResult(countryAbr);
    });
</script>
